@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background: whitesmoke;
}

header {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

input, select {
  color: black;
  font-size: larger;
  border: solid;
  border-radius: 5px;
  width: 55px;
}

input, select:focus {
  outline: none;
}

button {
  color: black;
  width: 35px;
  height: 35px;
  font-size: larger;
  border: solid;
  border-radius: 17.5px;
  box-shadow: 0px 5px 10px;
  background: rgb(122, 202, 48);
}

button:hover {
  cursor: pointer;
  transition: all 0.25s;
  filter: brightness(1.25);
}

button:active {
  outline: none;
  transform: translate(2px, 3px);
  box-shadow: 0px 0px;
}

button#reload-btn {
  background: rgb(255, 0, 0);
}

.fas {
  color: black;
}

a {
  font-style: italic;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .element-container {
} */

#board {
  display: flex;
  background: linear-gradient(0.3turn, rgb(148, 82, 1), rgb(183, 129, 10), rgb(200, 113, 0));
}


@media screen and (max-height: 820px){
  h1 {
    font-size: medium;
  }

  body {
    font-size: small;
  }

  input, select {
    width: 50px
  }

  #board {
    height: 600px;
  }
}

@media screen and (max-height: 700px){
  h1 {
    font-size: medium;
  }

  body {
    font-size: small;
  }

  input, select {
    width: 50px
  }

  #board {
    height: 400px;
  }
}

@media screen and (max-width: 820px) {

  h1 {
    font-size: medium;
  }

  body {
    font-size: small;
  }

  input, select {
    width: 50px
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: small;
  }

  body {
    font-size: x-small;
  }

  input, select {
    width: 30px
  }

  #board {
    width: 380px;
  }
}
